[program:crmeb-queue]
directory=/data/www/crmeb-official_v6
command=/usr/bin/php think queue:work --sleep 3 --tries 3 --timeout 3600
autostart=true
autorestart=true
startsecs=5
stopwaitsecs=3605
user=www-data
redirect_stderr=true
stdout_logfile=/data/logs/supervisor/crmeb-queue.log

[program:crmeb-timer]
directory=/data/www/crmeb-official_v6
command=/usr/bin/php think timer start
autostart=true
autorestart=true
startsecs=5
user=www-data
redirect_stderr=true
stdout_logfile=/data/logs/supervisor/crmeb-timer.log

[program:crmeb-workerman]
directory=/data/www/crmeb-official_v6
command=/usr/bin/php think workerman start
autostart=true
autorestart=true
startsecs=5
user=www-data
redirect_stderr=true
stdout_logfile=/data/logs/supervisor/crmeb-workerman.log
